{
    "parser": "@babel/eslint-parser",
    "extends": "@internetstiftelsen/eslint-config-react",
    "globals": {
        "wp": true
    },
    "rules": {
        "react/prop-types": 0,
        "react/jsx-indent-props": [2, "tab"],
        "react/jsx-no-target-blank": 0
    }
}
