.iis-block-selectable__item {
	border: 1px solid #888;
	background: #f5f4f4;
	padding: 1rem;
	margin-bottom: 1rem;
}

.iis-block-selectable {
	border: 1px solid #888;
	background: #fefefe;
	padding: 1rem;

	.block-list-appender.wp-block {
		position: static !important;
		width: 40px;
	}
}
