.iis-block-grid > .block-editor-inner-blocks > .block-editor-block-list__layout {
	display: flex;
	flex-wrap: wrap;
}

.iis-block-grid > .block-editor-inner-blocks > .block-editor-block-list__layout > * {
	flex: 0 0 50%;
	width: 50%;
	margin-right: unset;
	margin-left: unset;
	max-width: none;
	box-sizing: border-box;
}

.iis-block-grid > .block-editor-inner-blocks > .block-editor-block-list__layout > *[data-width="1/3"] {
	flex: 0 0 33.333%;
	width: 33.333%;
}

.iis-block-grid > .block-editor-inner-blocks > .block-editor-block-list__layout > *[data-width="1"] {
	flex: 0 0 100%;
	width: 100%;
}

.iis-block-grid > .block-editor-inner-blocks > .block-editor-block-list__layout > *[data-width="2/3"] {
	flex: 0 0 66.666%;
	width: 66.666%;
}

.iis-block-grid > .block-editor-inner-blocks > .block-editor-block-list__layout > *[data-type="iis/slide"] {
	margin-top: 0;
	margin-bottom: 0;
}
