.iis-info-block {
	border-top: 4px solid #ffce2e;
	background: #fff;
	padding: 0 16px;

	&--big {
		border-top-color: #55c7b4;

		p {
			font-size: x-large !important;
		}
	}
}

[data-type^="iis/"] {
	&[data-align="right"], &[data-align="left"]{
		.wp-block{
			&::after {
				content: "";
				display: block;
				clear: both;
			}
			height: auto;
			width: 400px;
		}
	}

	&[data-align="right"]{
		float: right;
		@media (min-width: 1350px) {
			margin-right: calc(51vw - 664px);
		}
	}
	&[data-align="left"]{
		float: left;
		@media (min-width: 1350px) {
			margin-right: calc(51vw - 664px);
		}
	}

	& > .wp-block > * {
		position: relative;
		float: none;
	}
}
